/* for register page */

.form-register-body{
    background-image: linear-gradient(105deg, rgb(208, 99, 86) 0%, rgb(210, 101, 83) 50%, rgb(215,111,71));
}

.label-tag{
    display: inline-block;
    margin-left:2px;
    margin-bottom: -2px;

}

.form-box{
    margin:10px 0;
}

.label-position{
    margin-left:2px;
}

.col-body{
    margin-top:20px;
    background-color: 	rgb(237, 240, 243);
}

.form-control:hover{
    border:none;
}

.form-register-body{
    background-color: linear;
}

.form-signup-button{
    display: inline-block;
    background-color: #ee6356;
    margin-left:462px;
    margin-bottom:10px;
}



/* sign-in */



.total-box{
    height:570px;
}

.form-box-margin-1{
    
    margin-top:45px;
}

.form-box-margin-2{
    
    margin-top:15px;
}

.welcome{
    margin-top:-30px;
    margin-left:140px;
}

.sign-in-words{
    margin-left:104px;
   
    color:grey;
}


.form-signin-button{
    display: inline-block;
    background-color: #ee6356;
    margin-left:462px;
    margin-top:5px;
}

.forgot-password{
    color:#ee6356;
    display: inline-block;
    margin-left:202px;
    margin-top:25px!important;
}

.new{
    margin-left:160px;
    margin-top:20px;
}

.span-join{
    color:#ee6356;
}

.image-sign-in{
    display: inline-block;
    margin-left:90px;
    margin-top:50px;
    
}

.image-inside-sign-in{
    width:350px;
}

.total-box{
    margin-top:80px;
    margin-left:10px;
}
