*,
*::after,
*::before {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  font-family: "Open Sans", sans-serif !important; }

.navbar {
  background-color: #f0f4f8; }
  .navbar__logo {
    display: inline-block !important;
    margin: 20px 0 20px 20px !important; }
    .navbar__logo-picture {
      width: 300px !important; }
  .navbar__ul {
    float: right !important;
    list-style-type: none !important;
    margin-top: 35px !important; }
    .navbar__ul-list {
      border: none !important;
      background-color: transparent !important;
      color: #ee6356;
      font-size: 20px;
      padding: 5px 20px;
      transition: 0.6s ease;
      margin: 0 40px !important;
      cursor: pointer !important; }

.custom-style {
  height: 655px !important; }

.grid-image {
  margin-top: -35px !important; }
  .grid-image-1 {
    width: 750px !important;
    height: 650px !important; }

.side-buttons {
  display: inline-block !important;
  transform: translate(100px, -60px) !important; }
  .side-buttons__entity {
    display: inline-block !important;
    font-size: 20px;
    font-weight: bolder !important;
    border-radius: 50px;
    cursor: pointer;
    padding: 15px 100px !important;
    border: solid 2px #ee6356 !important;
    color: #fff !important;
    background-color: #ee6356 !important; }
    .side-buttons__entity:active {
      transform: translateY(3px) !important; }

.button-style-1 {
  padding: 18px 150px !important;
  margin-top: 110px !important; }

.button-style-2 {
  padding: 18px 150px !important;
  margin-top: 30px !important; }

.button-style-3 {
  padding: 18px 150px !important;
  margin-top: 30px !important; }

.content {
  display: inline-block;
  width: 32vw;
  margin-left: 60px !important;
  margin-top: 40px !important;
  padding: 10px !important;
  position: relative; }
  .content .search-bar {
    border: 2px solid #ee6356;
    display: flex;
    border-radius: 50px;
    padding: 3px !important;
    width: 55px;
    height: 55px;
    position: relative;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.15) !important;
    overflow: hidden; }
    .content .search-bar__input {
      flex-grow: 1;
      font-size: 25px;
      padding: 3.1px 15px !important;
      border: 0;
      width: 26vw !important;
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      line-height: 40px;
      opacity: 0;
      cursor: pointer; }
      .content .search-bar__input:focus {
        outline: 0 !important; }
    .content .search-bar__submit {
      font-size: 25px;
      cursor: pointer;
      border: 0;
      background-color: transparent;
      border-radius: 50%;
      width: 40px;
      height: 44px;
      margin-left: auto !important;
      transition: background 150ms ease-in-out !important; }
    .content .search-bar:focus-within {
      width: 100% !important; }
      .content .search-bar:focus-within .search-bar__input {
        opacity: 1;
        cursor: initial; }
      .content .search-bar:focus-within .search-bar__submit {
        background-color: #ee6356;
        color: white; }
        .content .search-bar:focus-within .search-bar__submit:focus, .content .search-bar:focus-within .search-bar__submit:hover {
          outline: 0 !important; }

.text-side {
  display: inline-block !important;
  transform: translate(60px, 30px) !important; }
  .text-side__font {
    font-size: 60px !important; }

.side-color {
  color: #ee6356; }

.content-1 {
  display: inline-block;
  width: 40vw !important;
  height: 90px !important;
  margin-left: 60px !important;
  margin-top: 40px !important;
  padding: 10px !important;
  position: relative; }
  .content-1 .search-bar-1 {
    border: 2px solid #ee6356;
    display: flex;
    border-radius: 50px;
    padding: 3px !important;
    width: 55px;
    height: 57px;
    position: relative;
    transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.15) !important;
    overflow: hidden; }
    .content-1 .search-bar-1__input {
      flex-grow: 1;
      font-size: 25px;
      padding: 4px 15px !important;
      border: 0;
      width: 33vw !important;
      background-color: transparent;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      line-height: 40px;
      opacity: 0;
      cursor: pointer; }
      .content-1 .search-bar-1__input:focus {
        outline: 0 !important; }
    .content-1 .search-bar-1__submit {
      font-size: 25px;
      cursor: pointer;
      border: 0;
      background-color: transparent;
      border-radius: 50%;
      width: 40px;
      height: 44px;
      margin-left: auto !important;
      transition: background 150ms ease-in-out !important; }
    .content-1 .search-bar-1:focus-within {
      width: 100% !important; }
      .content-1 .search-bar-1:focus-within .search-bar-1__input {
        opacity: 1;
        cursor: initial; }
      .content-1 .search-bar-1:focus-within .search-bar-1__submit {
        background-color: #ee6356;
        color: white; }
        .content-1 .search-bar-1:focus-within .search-bar-1__submit:focus, .content-1 .search-bar-1:focus-within .search-bar-1__submit:hover {
          outline: 0 !important; }

.mid-part {
  padding: 165px 0 !important;
  background-color: #ffd1b9 !important; }

.initial-text {
  display: inline-block !important;
  font-size: 105px !important;
  transform: translate(395px, -20px) !important; }

.initial-text-1 {
  display: inline-block !important;
  transform: translate(-42px, 40px) !important; }

.initial-text-2 {
  display: inline-block !important;
  transform: translate(750px, 40px); }

.initial-text-3 {
  display: inline-block !important;
  transform: translate(751px, 41px); }

.image {
  margin-left: 50px !important;
  margin-top: 40px !important; }

.harry-potter {
  margin-left: 270px !important;
  margin-top: 40px !important; }

.harry-side-text-1 {
  display: inline-block !important;
  font-family: "Sansita Swashed", cursive !important;
  font-size: 90px !important;
  margin-top: 185px !important; }

.harry-side-text-2 {
  display: inline-block !important;
  font-family: "Sansita Swashed", cursive !important;
  font-size: 90px !important;
  margin-top: 22px !important; }

.harry-side-text-3 {
  display: inline-block !important;
  font-family: "Sansita Swashed", cursive !important;
  font-size: 90px !important;
  margin-top: 2px !important; }
