*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Century gothic; }

header {
  background-image: url(book.jpg);
  height: 100vh;
  background-size: 700px auto;
  background-position: center; }

ul {
  float: right;
  list-style-type: none;
  margin-top: 30px; }

ul li {
  display: inline-block; }

ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #000;
  padding: 5px 20px;
  border: 1px solid #fff transparent;
  transition: 0.6s ease; }

ul li a:hover {
  background-color: #fff;
  color: #000; }

ul li.active a {
  background-color: #fff;
  color: #000; }

.logo img {
  float: left;
  width: 150px;
  height: auto; }

.main {
  max-width: 1200px;
  margin: auto; }

.title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.title h1 {
  color: #ee6356;
  font-size: 70px; }

.button {
  position: absolute;
  font-size: 20px;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%); }

.btn {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #ee6356;
  font-weight: 200;
  text-decoration: none;
  transition: 0.6s ease; }

.btn:hover {
  background-color: #fff;
  color: #ee6356; }

.popup {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  transition: all .3s; }
  .popup__content {
    width: 41%;
    height: 710px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    overflow: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 400px;
    font-size: 30px; }
  .popup .form__group:not(:last-child) {
    margin-bottom: 15px; }
  .popup .form__input {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 3px;
    box-shadow: none;
    font-family: Century gothic;
    width: 70%;
    display: inline-block; }
    .popup .form__input:focus {
      outline: none;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }
  .popup .heading-secondary {
    font-family: 'Baloo Tammudu 2', cursive;
    margin: 0 0 7px 8px;
    display: inline-block; }

.one {
  display: inline-block;
  margin-left: 66px;
  margin-right: 15px; }

.two {
  display: inline-block;
  margin-left: 39px;
  margin-right: 17px; }

.three {
  display: inline-block;
  margin-left: 66px;
  margin-right: 17px; }

.four {
  display: inline-block;
  margin-right: 16.5px;
  margin-left: 37px; }

.five {
  display: inline-block;
  margin-left: 64px;
  margin-right: 17.5px; }

.six {
  display: inline-block;
  margin-right: 19px;
  margin-left: 10px; }

.seven {
  display: inline-block;
  margin-right: 20px;
  margin-left: 78px; }

.eight {
  display: inline-block;
  margin-right: 22px;
  margin-left: 66px; }

.nine {
  display: inline-block;
  margin-right: 23px; }

.ten {
  margin-left: 4px; }

.teni {
  margin-left: 24px; }

.buton {
  margin-left: 560px;
  border: none; }

.butn:link, .butn:visited {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 4px 8px;
  background-color: #3399ff;
  color: #fff; }
  .butn:link:active, .butn:visited:active {
    transform: translateY(1px); }

.heading-secondary-2 {
  display: inline-block;
  font-family: 'Baloo Tammudu 2', cursive;
  margin: 15px 0 20px 135px;
  display: inline-block; }

.popupl {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50;
  transition: all .3s; }
  .popupl__content {
    width: 28%;
    height: 275px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .4s .2s; }
  .popupl:target {
    opacity: 1;
    visibility: visible; }
  .popupl:target .popupl__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popupl__close:link, .popupl__close:visited {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-left: 100px;
    font-size: 30px; }

.input {
  display: inline-block;
  background-color: #fff;
  font-size: 15px;
  padding: 15px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
  font-family: Century gothic;
  width: 60%;
  display: inline-block; }
  .input:focus {
    outline: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); }

.move {
  margin-bottom: 20px; }

.four2 {
  display: inline-block;
  margin-right: 23px; }

.four3 {
  display: inline-block;
  margin-left: 34px;
  margin-right: 25px; }

.move-button {
  margin-top: 20px;
  margin-left: 345px; }

.buton2 {
  border: none; }

.search-box-div {
  display: inline-block;
  background-color: transparent;
  width: 29vw;
  padding: 10px;
  margin-top: 25px;
  margin-left: 660px; }

.search-box {
  border: 2px solid #ee6356;
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  padding: 3px;
  position: relative;
  transition: all 1s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  overflow: hidden; }
  .search-box__input {
    flex-grow: 1;
    font-size: 20px;
    background-color: transparent;
    border: 0;
    width: 23vw;
    height: 44px;
    padding: 2px 15px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: 40px;
    opacity: 0;
    cursor: pointer; }
    .search-box__input:focus {
      outline: 0; }
  .search-box__submit {
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: auto;
    transition: background 150ms ease-in-out; }
  .search-box:focus-within {
    width: 100%; }
    .search-box:focus-within .search-box__input {
      opacity: 1;
      cursor: initial; }
    .search-box:focus-within .search-box__submit {
      background-color: #ee6352;
      color: white; }
      .search-box:focus-within .search-box__submit:focus, .search-box:focus-within .search-box__submit:hover {
        outline: 0; }
